# Project Indexes of Jetbrains Apps
.idea/

# DB Connection Informations
config/

# Fonts
public/font/

# Pictures
public/img/

# Frontend Dependencies
public/node_modules/

# PHP Dependencies
vendor/