/*The app is designed mobile first
Tablet and desktop breakpoints follow*/

/*Styles used in all breakpoints */
header {
    border-bottom: 3px solid #DE7C5A;
}

header > nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
}

header > nav > ul > div > li {
    margin-bottom: 15px;
}

footer {
    height: 45px;
    background-color: #DE7C5A;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

footer > ul {
    margin: auto;
}

button {
    font: bold 14px Arial;
    width: 100px;
    margin-right: 5px;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
}

main {
    margin-top: 35px;
    margin-bottom: 80px;
}

.centerText {
    text-align: center;
}
.error, .alert {
    color: red;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    border: 3px solid #570000;

}

h3 {
    display: flex;
    justify-content: left;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.fa-user-circle {
    color: red;
}

.signup{
    display: flex;
    flex-direction: column;
}
input[type="text"],[type="password"] {
    width: 100%;
}
.banner {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.logo {
    width: 45%;
}
.partnerImage{
    width: 95%;
}
.partnerLogoList{
    width: 80%;
    height: auto;
}

.partnerInfo {
    margin-left: 15px;
}

.partnerList {
    border: 2px solid black;
}

.partnerListElt {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 30px;
    border: 2px solid red;
    align-items: center;
}

.readButton {
    position: absolute;
    bottom:0;
    right: 0;
}
.commentInfo {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
}

a {
    max-height: 3px;
}
.likeButtons {
    padding-left: 5px;
    padding-right: 5px;
}
.noMargin {
    margin: 0;
}
/*Formats the text from the database correctly on the page */
.partnerDescription {
    white-space: pre-wrap;
}

/*A class that gives a red border and a box shadow*/
.borderAndShadow {
    padding: 15px;
    border: red solid 2px;
    box-shadow: 5px 8px 8px #888888;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*A class for centering child elements */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stretch {
    width: 100%;
}

/*Tablet portrait up breakpoint*/
@media (min-width: 600px) {
    header > nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
    body {
        font-size: 32px;
    }
    button {
        font: bold 32px Arial;
        width: 300px;
        margin-right: 5px;
    }
    input {
        font-size: 32px;
    }
    .logo {
        height: 200px;
        width: 180px;
    }
    .partnerListElt {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .partnerLogoList{
        width: 40%;
        height: auto;
    }
}

/*Desktop breakpoint*/
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    input {
        font-size: 18px;
    }
    input[type="text"][type="password"]{
        width: 100%;
    }
    input[type='submit'] {
        width: 100px;
    }
    button {
        width: 150px;
        font-size: 18px;
    }
    .logo {
        height: 155px;
        width: 125px;
    }
    .partnerLogoList{
        width: 20%;
        height: auto;
    }
}