
{% extends 'layout/layout.twig' %}

{% block subtitle %}Accueil{% endblock %}

{% block description %}Page D'accueil réseaux GBAF{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <p>Bravo {{ user_name }} vous est connecté!</p>
            <p>Ton prénom est {{ first_name }} et ton nom de famille est {{ last_name }}</p>
            <p>Vous pouvez vous déconnecter en <a href="{{ url('user!signoutaction') }}">cliquant ici</a></p>
        </section>
    </main>
{% endblock %}