
{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="center">
        <section>
            <h1>Réseau extranet GBAF</h1>
            <p>Le Groupement Banque Assurance Français (GBAF) est une fédération représentant  les 6 grands groupes de la profession bancaire et des assureurs sur tous les axes de la réglementation financière française.</p>
            <span class="center"><img alt="bannerImage" class="banner" src = "../img/banner.png"></span>
        </section>
        <hr>
        <section style="width: 100%;">
            <h2>Nos acteurs et partenaires</h2>
            <p>Voici une liste de tous les acteurs et partenaires du groupe GBAF.</p>
            <div class="partnerList">
                {% for partner in partnersList %}
                    <div class="partnerListElt">
                        <img class="partnerLogoList" src="../img/{{ partner.partnerImage }}">
                        <div class="partnerInfo">
                            <h3> {{ partner.partnerName }} </h3>
                            <p> {{ partner.partnerShortDescr }} </p>
                        </div>
                        <div class="readButton">
                            <a href="{{ url('partner',[partner.partnerName]) }}"><button type="button">Lire la suite...</button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}