
{% extends 'layout/layout.twig' %}

{% block subtitle %}Accueil{% endblock %}

{% block description %}Page D'accueil réseaux GBAF{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <a href="{{ url("signup")}}">Cliquez ici pour créer un compte</a>
        </section>
    </main>
{% endblock %}