{% extends 'layout/layout.twig' %}

{% block subtitle %}Création de compte{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main id="signedup">
        <p>Félications votre compte à été créer avec succés!</p>
        <p><a href="{{ url('user!signin') }}">Cliquez ici</a> pour vous connecter</p>
    </main>
{% endblock %}