{% extends 'layout/layout.twig' %}

{% block subtitle %}Création de compte{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main id="reg">
        <section>
            <div>
                <h2>Créez votre compte</h2>
                <p>Veuillez remplir ce formulaire pour créer un compte.</p>
                <form action="{{ url('user!signup') }}"method="post">
                    <div>
                        <label>Nom d'utilisateur</label>
                        <input type="text" name="userName" class="form-control" value="Jason" minlength="1" maxlength="50">
                    </div>
                    <div>
                        <label>Mot de passe</label>
                        <input type="password" name="password" class="form-control" value="" minlength="5" maxlength="50">
                    </div>
                    <div>
                        <label>Confirmer le mot de passe</label>
                        <input type="password" name="cpassword" class="form-control" value="" minlength="5" maxlength="50">
                    </div>
                    <div>
                        <label>Votre nom</label>
                        <input type="text" name="lastName" class="form-control" value="Cooke" minlength="1" maxlength="50">
                    </div>
                    <div>
                        <label>Votre prénom</label>
                        <input type="text" name="firstName" class="form-control" value="Jason" minlength="1" maxlength="50">
                    </div>
                    <div>
                        <label>Question secrète</label>
                        <input type="text" name="secretQuestion" class="form-control" value="Ta chienne ?" minlength="1" maxlength="250">
                    </div>
                    <div>
                        <label>Réponse secrète</label>
                        <input type="text" name="secretAnswer" class="form-control" value="Stella" minlength="1" maxlength="250">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-default" value="Reset">
                    </div>
                    <div>
                        <p>Déja un compte ? <a href="{{ url('user!signin') }}">connectez-vous</a></p>
                    </div>
                    <div>
                        <p style ='color:red;'>
                            {{ signuperror }}
                        </p>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}