{% extends 'layout/layout.twig' %}

{% block subtitle %}Création de compte{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main id="signedup">
        <p>Félications votre compté à étais créer avec succés!</p>
    </main>
{% endblock %}