<!DOCTYPE html>
<html lang="en">
<!--TODO : Make sure Fontawesome works-->
<head>
    <meta charset="utf-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Text+Me+One%7cCinzel:400,700,900%7cShare+Tech+Mono">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="structure">
        {{ include('layout/header.twig') }}

        {% block main %}{% endblock %}

        {{ include('layout/footer.twig') }}
    </div>

</body>
</html>