<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}" title="Home">
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="mailto:jason.cooke@hotmail.fr" title="Contact">
                <i class="fas fa-at fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>